<div class="table-responsive">
  <table class="table">
    <thead>
      <tr class="">
        <th>ID</th>
        <th>player name</th>
        <th>age</th>
        <th>number</th>
        <th>position</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elt of playerTab">
        <td>
          <h5>{{ elt._id }}</h5>
        </td>
        <td>
          <h5>{{ elt.name }}</h5>
        </td>
        <td>
          <h5>{{ elt.age }}</h5>
        </td>
        <td>
          <h5>{{ elt.nbr }}</h5>
        </td>
        <td>
          <h5>{{ elt.pos }}</h5>
        </td>
        <td>
          <button class="btn btn-warning" (click)="goToPlayerInfo(elt._id)">
            Display
          </button>
          <button class="btn btn-danger" (click)="deletePlayer(elt._id)">
            Delete
          </button>
          <button class="btn btn-success" (click)="goToEditPlayer(elt._id)">
            update
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
