<div class="custom-media d-flex">
  <div class="img mr-4">
    <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid" />
  </div>
  <div class="text">
    <span class="meta">name</span>
    <h3 class="mb-1">
      <a href="#">{{ obj.name }}</a>
    </h3>
    <span class="meta">age</span>
    <h3 class="mb-1">
      <a href="#">{{ obj.age }}</a>
    </h3>
    <span class="meta">postion</span>
    <h3 class="mb-1">
      <a href="#">{{ obj.pos }}</a>
    </h3>
    <span class="meta">number</span>
    <h3 class="mb-1">
      <a href="#">{{ obj.nbr }}</a>
    </h3>
  </div>
</div>
